::placeholder {
color: #dcdcdc !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.meals img,.meal {
  cursor: pointer;
}

.nav-in {
  height: 100%;
  width: 250px;
  top: 0;
  left: -250px;
}

.nav-out {
  height: 100%;
  width: 60px;
  background-color: #fff;
  top: 0;
  left: 0px;
}

.nav-items btn, nav i {
  cursor: pointer;
}

.meal-layer {
  top: 100%;
  background-color: #f9f6f6ca;
}

.btn-back {
  right: 30px;
  bottom: 30px;
  display: none;
}

/* CSS Loader */
.loader {
  left: 0;
  top: 0;

}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
